body{
    padding: 0;
    margin: 0;
    background: #F5EFEA;
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    max-width: 1903px;
    margin: 0 auto;
}

.hide{
    margin-top: -1px;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
}

img {
    max-width: 100%;
  }

a{
    color: #000;
    text-decoration: none;
}

.nav-1{
    display: none;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
}

.nav{
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    height: 80.98px;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    padding-left: 70px;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    
}

.border{
    border: 0.5px solid rgba(0, 0, 0, 0.555);
    height: 40.55px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.border-1{
    border: 0.2px solid rgba(0, 0, 0, 0.555); ;
    height: 55.55px;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 15px;
    margin:0 3%;
    margin-top: 10px;
}

header hr{
    border: 0 none;
    height: 0.1px;
    color: #000; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555); 
    margin-bottom: 20px;
    margin-top: 5px;

 }

input{
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 25px;
    background: none;
    border: none;
    width: 95%;
}

::placeholder{
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 40px;
   
}

.search{
    margin-top: 4px;
    margin-left: 49.86px;
}

.search-1{
    margin-top: 4px;
}

.icons img{
    margin-right: 15px;
}

hr{
    border: none; 
    background-color: rgb(0, 0, 0, 0.555); 
    color: rgb(0, 0, 0); 
    height: 1px; 
    width: 100%;
}

.shops{
    display: flex;
    align-items: center;
}

.main-img .container{
    max-width: 100%;
    margin: 0;
    padding: 20px 30px;
    max-height: 1252px;
}

.main-img .row{
    margin: 0 auto;
}

#frame{
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    margin-left: 2%;
    border: 1px solid rgba(0, 0, 0, 0.301); 
    border-radius: 4vh;
    padding: 0 30px;
    width: 47%;
}

.main-img p{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    color: #000000;
    margin: auto auto;

}

.main-img h1{
    margin: auto auto;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    text-align: center;
    color: #000000;
}

.main-img .container{
    max-width: 100%;
    margin: 0;
    padding: 20px 30px;
}

.button img{
    display: block;
    margin: 0 auto;
}

.our-features .container{
    max-width: 100%;
    margin: 0;
    padding: 20px 30px;
}

.our-features h1{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 100px;
    text-align: center;
    color: #F5EFEA;
    background-color: #000;
}

.feature img{
    float: right;
}

.feature{
    padding: 0;
    float: right;
    max-width: 750px;
}

.feature-1 img{
    float: left;
}

.feature-1{
    padding: 0;
    max-width: 616px;
    float: left;
}

.feature p{
    max-width: 719px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    text-align: right;
    color: #000000;
    float: right;
    margin-top: 30px;
    margin-bottom: 0px;


}

.contacts{
    margin-bottom: 2%;
}

.feature h2{
    max-width: 690px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    text-align: right;
    color: #000000;
    float: right;
    margin: 0px;
}

.feature-1 p{
    max-width: 719px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    text-align: left;
    color: #000000;
    float: left;
    margin-bottom: 0;

}

.feature-1 h2{
    max-width: 616px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    text-align: left;
    color: #000000;
    float: left;
    margin: 0px;
}

#second{
    margin-top: 10%;
}

.unique .container{
    max-width: 100%;
    margin: 0;
    padding: 20px 30px;
}

.unique h1{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}

.unique h2{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}

.unique p{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    max-width: 1492px;
    margin:0 auto;
}

footer{
    background-color: #000;
    max-height: 550px;
    width: 100%;
}

.subscribe{
    background-color: white;
    width: 800px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 9px;
    margin: auto auto;
}

.sub-btn{
    max-width: 100%;
}

.form{
    margin-left: auto;
    margin-right: auto;
}

.form p{
    width: 700px;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color:#F5EFEA;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 130px;
}


.subscribe input{
    background: none;
    max-width: 100%;
    margin-bottom: 8px;
    margin-left: 7px;
}

footer hr{
    margin-top: 100px;
    border: 0.5px solid #f5efea79;
}

.footer-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 17%;
    padding-right: 17%;
    margin-top: 23px;
}

.footer-1 a{
    color:#F5EFEA;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
}

.picture-mobile{
    display: none;
}


@media(max-width: 1536px){
    
    .border-1{
        border-color: rgba(0, 0, 0, 0.301);
    }

    header hr{
        background-color: rgba(0, 0, 0, 0.301);
    }

    .nav-1{
        margin: 0;
    }

    .nav-toggle, .nav-1 {
        display: flex;
     }

    .nav-toggle .container{
         height: 80.98px;
         align-items: center;
         display: flex;
         padding-top: 20px;
         padding-bottom: 10px;
         justify-content: space-between;
         margin: 0 auto;;
     }

     .nav-toggle .container{
        margin: 0 10px;
        max-width: 100%;
    }

     .nav-toggle .col{
         max-width: 100px;
     }

     .logo{
         margin:0;
         padding: 0;
     }


    .nav-toggle a{
        width: 72px;
    }

    .menu {
        max-width: 50px;
    }

     .nav{
      display: none;
     }

     .border-1 ::placeholder{
        font-size: 25px;
        margin-top: 5px;
    }

     .search-1 img{
         width: 35px;
     }


     .main-img h1{
         font-size: 55px;
         width: 80%;

     }

     .main-img p{
        font-size: 40px;
    }

    .our-features h1, .unique h1{
        font-size: 55px;
    }

    .feature h2, .feature-1 h2{
        font-size: 40px;
    }

    .feature a, .feature-1 a{
        width: 107px;
    }

    .feature p, .feature-1 p, .unique p{
        font-size: 30px;
        line-height: 45px;
    }

    .hide{
        display: none;
    }

    .menu {
        max-width: 50px;
    }

    .logo a{
        font-size: 50px;
    }
}

@media(max-width: 1350px){
    .main-img h1{
        font-size: 45px;

    }

    .main-img p{
       font-size: 30px;
       
   }

   .main-img .container{
    max-height: 1890px;
    }
}

@media(max-width: 1146px){
    .main-img h1{
        font-size: 40px;
    }

    .main-img p{
       font-size: 25px;
   }

   .feature h2, .feature-1 h2{
       font-size: 30px;
       line-height: 40px;

   }

   .feature p, .feature-1 p{
    font-size: 20px;
    line-height: 30px;
    }

    .feature img, .feature-1 img{
        width: 70px;
    }

    .our-features h1, .unique h1, .unique h2{
        font-size: 40px;
        line-height: 75px;
    }

    .contacts img{
        width: 60px;
    }

}

@media (max-width: 1190px){
.footer-1 a {
    font-size: 15px;
}
}

@media(max-width: 1036px){
    .main-img h1{
        font-size: 35px;
    }

    .main-img p{
       font-size: 20px;
   }

   .button img{
       width:90px;
   }

}

@media (max-width:990px) {
    .footer-1{
        padding: 0 55px;
     }
 
     .subscribe{
         width: 600px;
     }
 
     .form p{
         font-size: 25px;
         width: 400px;
     }
}

@media(max-width: 820px){

    
    .menu{
        width: 80%;
    }

    .logo a{
        font-size: 40px;
    }

    .logo{
        margin-bottom: 20px;

    }

    .image img{
        max-height: 395.67px;
    }

    .nav-toggle .row{
        margin-bottom: 10px;
    }

    .feature h2, .feature-1 h2{
        font-size: 20px;
        line-height: 25px;
 
    }
 
    .feature p, .feature-1 p{
     font-size: 15px;
     line-height: 20px;
     }
 
     .feature img, .feature-1 img{
         width: 50px;
     }
 
     .our-features h1, .unique h1, .unique h2{
         font-size: 30px;
         line-height: 65px;
     }
 
     .contacts img{
         width: 45px;
     }

     .unique p{
         font-size: 20px;
         line-height: 30px;
     }

     .logo{
        margin-top: 13px;
    }

    .footer-1 a{
        font-size: 12px;
    }
    
    .subscribe{
        width: 70%;
        height: 8%;
    }

    .subscribe ::placeholder{
        font-size: 15px;
    }

    .sub-btn{
        width: 150px;
    }



}

@media(max-width: 740px){
    .main-img .row{
        flex-direction:column-reverse;
        margin: 0 auto;
    }

    .main-img .col-6{
        width: 100%;
    }

    .picture-mobile{
        display: block;
        width: 98.5%;
        margin-bottom: 15px;
    }

    .picture{
        display: none;
    }
    

    #frame{
        width: 95%;
        height: 250px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

   .button{
       width:80px;
       margin-left: auto;
       margin-right: auto;
   }

   .our-features h1, .unique h1, .unique h2{
    font-size: 25px;
    line-height: 55px;
}

}

@media(max-width: 600px){

    .search-1 img{
        width: 20px;
    }

    .nav-toggle .col{
        padding: 0 7px;
    }

    .logo a{
        font-size: 30px;
        margin-right: 15px;
    }

    .border-1{
        margin-top: 20px;
        height: 35px;
    }

    .nav-toggle .container{
        padding-top: 12px;
        padding-bottom: 0px;
        height: 60.98px;

    }

    .nav-toggle .col{
        width: 35px;
        padding: 0 2px;
    }

    .menu{
        margin-top: -4px;
        max-width: 28px;
    }


    .logo{
        margin-top: -2px;
        margin-left: -25px;
    }

    header hr{
        margin:0;
    }

    .border-1 ::placeholder, input{
        font-size: 15px;
        margin-top: 5px;
    }

    .input{
        margin: 0;
    }

    .feature h2, .feature-1 h2{
        font-size: 17px;
        line-height: 20px;
 
    }
 
    .feature p, .feature-1 p{
     font-size: 13px;
     line-height: 18px;
     }
 
     .feature img, .feature-1 img{
         width: 40px;
     }
 
     .contacts img{
         width: 35px;
     }

     .unique p{
         font-size: 15px;
         line-height: 20px;
     }

     .logo{
        margin-top: 10px;
    }

    .subscribe{
        width: 85%;
    }


    .footer-1 a{
        font-size: 9px;
    }

    .sub-btn{
        width: 130px;
    }

    .subscribe ::placeholder{
        font-size: 13px;
    }

    .subscribe{
        padding-top: 18px;
        height: 50px;
    }

    .subscribe input{
        margin-top: 5px;
    }

    footer hr{
        margin-top: 40px;
        border-color: #f5efea5e;
    }

    .form p{
        padding-top: 50px;
        font-size: 17px;
        line-height: 25px;
        width: 300px;
    }

  
    .footer-1{
        margin-top: 17px;
        padding: 0 4%;
    }

}

@media(max-width: 540px){

    .message{
        width: 20px;
    }

    .our-features h1, .unique h1, .unique h2{
        font-size: 18px;
        line-height: 45px;
    }

    .contacts img{
        width: 28px;
    }

    .feature h2, .feature-1 h2{
        font-size: 13px;
        line-height: 18px;
 
    }

    .feature p{
        margin-top: 10px;
    }
 
    .feature p, .feature-1 p{
     font-size: 10px;
     line-height: 15px;
     }
 
     .feature img, .feature-1 img{
         width: 30px;
     }

     .button{
        width:60px;
    }

    #frame h1{
        font-size: 30px;
    }

    #frame p{
        font-size: 15px;
    }

    
}

@media(max-width: 435px){

    #frame p{
        margin-top: -30px;
    }

    .our-features h1, .unique h1, .unique h2{
        font-size: 14px;
        line-height: 40px;
        margin: 0;
    }
    
     .feature img, .feature-1 img{
         width: 20px;
     }

     .unique p{
        font-size: 10px;
        line-height: 17px;
    }

    .contacts img{
        width: 18px;
    }

    
}